@model CartListViewModel
@{
}


<h2>Sepet</h2>

<table class="table table-responsive">
    <thead>
            <tr>
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Açıklama</th>
                <th>Fiyat</th>
                <th>Stok Adeti</th>
                <th>Satış Adeti</th>
            </tr>
        </thead>
    @foreach (var cartLine in Model.Cart.CartLines)
    {
        
        <tbody>
            <tr>
                <td>@cartLine.Product.ProductId</td>
                <td>@cartLine.Product.ProductName</td>
                <td>@cartLine.Product.QuantityPerUnit</td>
                <td>@cartLine.Product.UnitPrice</td>
                <td>@cartLine.Product.UnitsInStock</td>
                <td>@cartLine.quantity</td>
                <td><a class="btn btn-sm btn-danger" asp-action="RemoveFromCart" asp-controller="Cart" asp-route-productId="@cartLine.Product.ProductId">Sepetten Sil</a></td>
            </tr>
        </tbody>
    }
</table>